<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Blog Posts</h1>
      <%= link_to 'New Post', new_post_path %>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-xs-6 col-xs-offset-3">
            <div class="tile">
              <h3><%= post.title %></h3>
              <p><%= post.body %></p>
              <ul class="nav nav-pills">
                <li><%= link_to 'Show', post %></li>
                <li><%= link_to 'Edit', edit_post_path(post) %></li>
                <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>